body {
    min-height: 100vh;
    position: relative;
    margin: 0;
}

footer {
    position: absolute;
    bottom: 0;
}

#sidebar-wrapper{
    width: 250px;
    position: absolute;
    height: 100%;
    background: #343a40;
    color: white;
    overflow-y: hidden;
    z-index: 1;

}
#wrapper-content{
    position: absolute;
    padding-left: 250px;
    height: 100%;
}
.sidebar-nav{
    padding: 0;
    list-style: none;
}
.sidebar-nav li{
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav a{
    display: block;
    text-decoration: none;
}
.sidebar-nav a:hover{
    background: white;
}
