* {
    margin:0;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
* {box-sizing: border-box;}
.wrapper {
    width:960px;
    max-width:100%;
    margin:0 auto;
}

.wrapper > div {
    border: 2px solid rgb(233,171,88);
    background-color: rgba(233,171,88,.5);
    padding: 1em;
    color: #d9480f;
}
.wrapper {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr;
     grid-gap: 10px;

 }
.one {
    grid-column: 1 / 2;
    grid-row: 1/4;
}
.two {
    grid-column: 2/4;
    grid-row: 1 / 4;
}
.three {
    grid-column: 2/4;
    grid-row: 4;
}

html {
    position:relative;
    min-height:100%;
}
.header{
    height: 80px;
    background-color: #111;
    width: 100%;
}
.text-header{
    position: absolute;
    left: 90px;
    top: 5px;
    font-family: fantasy;
    font-size: 50px;
    color: white;
}
#content {
    padding-bottom: 1fr;
}


#footer {
    height: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    alignment: center;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.login{
    align-content: center;
    text-align: center;

}


.one-index {
    width: 300px;
    grid-column: 1 ;
    grid-row: auto;
}
.two-index {
    grid-column: 2 / 2;
    grid-row:  1;
}
.three-index {
    grid-column: 2/2;
    grid-row: 4 / 5;
}
