body {
    min-height: 100vh;
    position: relative;
    margin: 0;
}

footer {
    position: absolute;
    bottom: 0;
}

#sidebar-wrapper{
    width: 250px;
    position: absolute;
    height: 100%;
    background: #343a40;
    color: white;
    overflow-y: hidden;
    z-index: 1;

}
#wrapper-content{
    position: absolute;
    padding-left: 250px;
    width: auto;
    height: 100%;
}
.sidebar-nav{
    padding: 0;
    list-style: none;
}
.sidebar-nav li{
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav a{
    display: block;
    text-decoration: none;
    color: white;
}
.sidebar-nav a:hover{
    background: white;
    color: black;
}
.sidebar-nav a:active{
    color: #adb5bd;
}
.sidebar-nav a:visited{
    color: #adb5bd;
}


.progress {
    width: 150px;
    height: 150px;
    background: none;
    position: relative;
}

.progress::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #eee;
    position: absolute;
    top: 0;
    left: 0;
}

.progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress .progress-left {
    left: 0;
}

.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.progress .progress-right {
    right: 0;
}

.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}

.progress .progress-value {
    position: absolute;
    top: 0;
    left: 0;
}
.user-info-role a{
    color: #adb5bd;
    display: block;
    text-decoration: none;
}
